@tailwind base;
@tailwind components;
    .btn{
        @apply px-11 pt-2 pb-2  bg-violet-600 hover:bg-purple-800 ease-out inline-block rounded-full;
    }
    .broder-btn{
        @apply px-11 pt-2 pb-2  border-solid border-2 border-gray-400 rounded-full text-white  hover:bg-violet-600 ease-out;
    }
@tailwind utilities;

*{
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

html,
body {
    scroll-behavior: smooth;
}

